*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', Tahoma, Geneva,Verdana,sans-serif
}

html{
    scroll-behavior: smooth;
}

:root{
    --primaria: #4f46e5;
    --secundaria: #3b82f6;
    --escuro:#0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--maisescuro);
    color: var(--claro);
    
}

.navegacao{
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secundaria);
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
    
}

.cabecalho  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-top: 200px;
}

.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.5);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
    
}

h1{
    font-size: 45px;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 20px;
    color: var(--claro);
    text-align: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    margin-bottom: 1rem;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1.2rem;
}

.projetos{
    padding: 6rem 2rem;
}
.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta o número de colunas com base na largura da tela */  
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

    

.projetos-card {
background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;

}
    
.projetos-card:hover{
   box-shadow: 0 10px 20px rgba(79,70,229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-imagem{
        width: 100%;
        height: 200px; /* Define uma altura fixa */
        object-fit: cover; /* Mantém o enquadramento sem distorcer */
    }
    


.info-projetos{
margin-bottom: 5px;
}

.caixa-textos-projetos{
    padding: 1.5rem;
    
}

.paragrafo-projetos{
    color:rgba(226, 232, 240, 0.8);
    line-height: 1.5;

}

.contatos{
    padding: 6rem 2rem;
    
}

.contatos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}


.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;

}

.campo-form:focus{
    border: 1px solid var(--transparente);
    box-shadow: 0 0 10px rgba(79,70,229, 0.4);
}

.campo-form:hover {
    border: 1px solid var(--transparente);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.4);
}


.grupo-form{
margin-bottom: 1.5rem;
}

.botao-form{
color: var(--claro);
background: linear-gradient(450deg, var(--primaria), var(--secundaria));
padding: 1rem 2rem;
border: none;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
width: 100%;
transition: all 0.5s ease;

}   

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79,70,229, 0.4);
}

.github-link {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.github-link:hover {
    color: #000;
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--secundaria) 0%,transparent 20%),
    radial-gradient(circle at 90% 80%, var(--primaria) 0%,transparent 20%),
    var(--maisescuro);
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
    
}

.contato-links {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    gap: 20px; /* Espaço entre os ícones */
    margin-bottom: 20px; /* Ajuste na distância da seção */
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre o ícone e o texto */
    font-size: 20px;
    text-decoration: none;
    color:#e2e8f0; /* Ajuste conforme o estilo do site */
}